
<head>
  <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>
</head>

<div class="jumbotron">
  <div class="container text-center text-uppercase">
    <h1>Record Your HIIT</h1>
  </div>
</div>

<%= form_for @workout do |w| %>
    <p>Name:<%= w.text_field :name %></p>
    <p>Note:<%= w.text_area :note %></p>
    <%= w.submit 'Add Workout' %>
<% end %>




