@import 'bootstrap-sprockets';
@import 'bootstrap';

a{
    font-family: 'Ravi Prakash', cursive;
}

h1{
    font-family: 'Ravi Prakash', cursive;
}
body {
    font-family: 'Ravi Prakash', cursive;
    background-color: #3E5B7F;
}