 <link href='https://fonts.googleapis.com/css?family=Ravi+Prakash' rel='stylesheet' type='text/css'>

<body>
<div class="jumbotron">
   <% if current_user %>
        Welcome <strong><%=current_user.name %></strong>!
        <%= link_to 'Sign out', signout_path %>
        <% else %>
      <%= link_to 'Sign in with Facebook', "/auth/facebook" %>
        <% end %>

</div>
</body>
