

 <body>
    <div class="container">
        <div class="row-sm">
            <div class="col">
                <div class="jumbotron text-center">
                 <% if current_user %>
                 Welcome <strong><%=current_user.name %></strong>!
                 <%= link_to 'Sign out', signout_path %>
                 <% else %>
                <p id="link_fb"><%= link_to 'Sign in with Facebook', "/auth/facebook" %></p>
                 <% end %>
             </div>
         </div>
     </div>
 </div>
</body>
